.Rproj.user
.Rhistory
.RData
.Ruserdata
h20_nn.nb.html
h20_nn.Rmd
loaded_training.RData
knn_svm_rf.Rmd
knn.txt
knn.rds
data/
!data/test_14_skel_sym.rds
!data/test_14_skel_pca.rds
!data/test_14_skel.rds
!data/test_14_pca.rds
!data/test_14.rds
!data/test_14_symAdd.rds
!data/test_14_sym.rds
!data/test_14_skel_symAdd_pca.rds
!data/test_14_skel_symAdd.rds
!data/test_14_symAdd_pca.rds
!data/raw/mnist_data.zip
h20_nn.rds/
scratch/
results/
report_final.docx
report.docx
report.html
